.container {
  max-width: $max-width;
  padding: 0 1.4rem;
  margin: auto;
}
//buttons
%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}
.btn {
  &-primary {
    @extend %btn-shared;
    color: #333;
    background-color: $primary-color;
  }
  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }
  &-dark {
    @extend %btn-shared;
    color: #333;
    background-color: $dark-color;
  }
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: $primary-color;
}

//background
.bg {
  &-dark {
    background-color: $dark-color;
  }
  &-light {
    background-color: $light-color;
  }
  &-primary {
    background-color: $primary-color;
  }
}

.section-title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.border-bottom {
  height: 3px;
  width: 3rem;
  background-color: $primary-color;
  margin: 0 auto 1rem auto;
}
.text-center {
  text-align: center;
}
.py-2 {
  padding: 2rem 0;
}
.lead {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  word-spacing: 2px;
}
