.kayit {
  text-align: center;
}
.kayitformu {
  width: 100%;
  padding: 2rem;
}
.kayitformu label,
.kayitformu input:not([type="checkbox"]),
.kayitformu select {
  display: block;
  width: 100%;
  margin-top: 1rem;
}
.kayitformu input[type="checkbox"],
.kayitformu input[type="checkbox"] + label {
  display: inline-block;
  width: auto;
  text-align: left;
}
.kayitformu input:not([type="checkbox"]),
.kayitformu select {
  border: 0.1rem solid #ccc;
  padding: 1rem 1.5rem;
}
.kayitformu input:not([type="checkbox"]):focus,
.kayitformu select:focus {
  background-color: greenyellow;
  border: 0.1rem solid greenyellow;
  outline: none;
}
.kayitformu input[type="checkbox"] {
  appearance: none;
  width: 2rem;
  border: 0.1rem solid #000;
  height: 2rem;
  vertical-align: bottom;
  border-radius: 50%;
}
.kayitformu input[type="checkbox"]:hover {
  background-color: rgb(108, 108, 188);
}
.kayitformu input[type="checkbox"]:checked {
  background-color: rgb(84, 84, 141);
}
