li {
  display: flex;
  align-items: center;
}

li span {
  flex-grow: 1;
}

li a {
  flex-shrink: 0;
  margin-left: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
